.banner {
  height: 285px;
  background: url(../images/lover2017blur.jpg) center center/6000px;
}

.banner .area {
  position: relative;
  width: 982px;
  height: 285px;
  margin: 0 auto;
  background: #000;
}

.banner .area .area-left {
  width: 730px;
  position: relative;
}

.banner .area .area-right {
  position: absolute;
  top: 0;
  right: -1px;
  z-index: 20;
  width: 254px;
  height: 285px;
  background: url(../images/download.png) no-repeat 0 0;  
}

/* 图片列表 */

.banner .area .img-list {
  width: 730px;
  display: flex;
  overflow: hidden;
  /* 轮播的时候通过translate移动 */
}

.banner .area .img-list li {
  flex-shrink: 0;
  width: 100%;
}

.banner .area .img-list .item {
  display: block;
}

.banner .area .img-list .item img{
  width: 100%;
  height: 285px;
}

/* 点列表 */

.banner .area .dots-list {
  position: absolute;
  top: 259px;
  left: 0;
  width: 730px;
  height: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.banner .area .dots-list li {
  margin: 0 2px;
}

.banner .area .dots-list .item {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: 3px -343px;
}

.banner .area .dots-list a.active,
.banner .area .dots-list a:hover{
  background-position: -16px -343px;
}

/* 下载 */

.banner .area-right .download {
  display: block;
  width: 215px;
  height: 56px;
  margin: 186px 0 0 19px;
  background-position: 0 9999px;
  text-indent: -9999px;
}

.banner .area-right .download:hover {
  background: url(../images/download.png) 0 -290px; 
}

.banner .area-right .desc {
  margin: 10px auto;
  text-align: center;
  color: #8d8d8d;
  font-size: 12px;
}

.banner .area-right .shadow {
  display: block;
  position: absolute;
  top: 0;
  left: -20px;
  width: 20px;
  height: 285px;
  background-position: -1px 0;
}

.banner .area-right .shadow-right {
  left: auto;
  right: -20px;
  background-position: -20px 0;
}

/* banner的控制按钮 */
.banner .area .control {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 37px;
  height: 63px;
  margin: auto 0;
}

.banner .area .control.left {
  left: -70px;
  background-position: 0 -360px;
}

.banner .area .control.left:hover {
  background-position: 0 -430px;
}

.banner .area .control.right {
  right: -70px;
  background-position: 0 -508px;
}

.banner .area .control.right:hover {
  background-position: 0 -578px;
}