.topbar {
	width: 100%;
	min-width: 1100px;
	height: 105px;
}

.topbar .nav {
	width: 100%;
	height: 70px;
	background-color: #242424;
}

.topbar .subnav {
	width: 100%;
	height: 35px;
	background-color: #C20C0C;
  border-bottom: 1px solid #a40011;
  box-sizing: border-box;
}

.topbar .nav-content, .topbar .subnav-content {
	width: 1100px;
	height: 100%;
	margin: 0 auto;
}

/* nav */

.topbar .nav-content h1.logo {
	float: left;
	width: 176px;
	height: 70px;
	background-position: 0 0;
}

.topbar .nav-content h1.logo a{
	float: left;
	width: 157px;
	height: 100%;
	padding-right: 20px;
	text-indent: -9999px;
}

.topbar .nav-content .link-list {
	float: left;
}

.topbar .nav-content .link-list li {
  float: left;
  position: relative;
  height: 70px;
  font-size: 14px;
}

.topbar .nav-content .link-list a {
	height: 70px;
	line-height: 70px;
	display: block;
	padding: 0 19px;
  color: #ccc;
}

.topbar .nav-content .link-list li:hover a, .topbar .nav-content .link-list li.active a {
  color: #fff;
  background-color: #000;
}

.topbar .nav-content .link-list li .cor {
	display: block;
	position: absolute;
	left: 50%;
	top: 64px;
	width: 12px;
	height: 7px;
	margin-left: -6px;
	overflow: hidden;
	background-position: -226px 0;
}

.topbar .nav-content .link-list li .hot {
	display: block;
	position: absolute;
	top: 21px;
	left: 100px;
	width: 28px;
	height: 19px;
	background-position: -190px 0;
  /* 从li继承的行高导致选中的高度异常所以要重置 */
  line-height: 12px;
}

.topbar .nav-content .login {
	float: right;
	font-size: 12px;
	color: #787878;
	height: 70px;
	line-height: 70px;
	margin-left: 20px;
}

.topbar .nav-content .login:hover {
	text-decoration: underline;
}

.topbar .nav-content .creator-center {
	float: right;
	width: 90px;
	height: 32px;
	color: #eee;
	border: 1px solid #4F4F4F;
	line-height: 30px;
	font-size: 12px;
	border-radius: 20px;
	padding-left: 16px;
	margin-top: 19px;
	margin-left: 12px;
	box-sizing: border-box;
}

.topbar .nav-content .creator-center:hover {
	color: #fff;
	border: 1px solid #fff;
}

.topbar .nav-content .search {
	float: right;
	width: 158px;
	height: 32px;
	margin-top: 19px;
	background-position: 0 -99px;
	background-color: #fff;
	border-radius: 32px;
}

.topbar .nav-content .search .search-box {
	position: relative;
	margin: 8px 0 0 30px;
	height: 16px;
	font-size: 12px;
}

.topbar .nav-content .search input {
	color: #333;
  line-height: 16px;
	width: 95%;
	margin: 0;
	padding: 0;
	background: transparent;
	opacity: 1;
	vertical-align: top;
}

.topbar .nav-content .search input:focus + label{
	display: none;
}

.topbar .nav-content .search label {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	color: #9b9b9b;
	cursor: text;
}

/* subnav */

.topbar .subnav .subnav-content ul {
  float: left;
  padding-left: 180px;
}

.topbar .subnav-content li, .topbar .subnav-content li a{
  float: left;
  height: 34px;
  text-align: center;
}

.topbar .subnav-content li span{
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 13px;
  margin: 7px 17px;
  border-radius: 20px;
  font-size: 12px;
  color: #fff;
}

.topbar .subnav-content li.active span, .topbar .subnav-content li:hover span{
  background: #9B0909;
}